.moviecard{
  &:hover{
    border: 5px solid rgb(39, 39, 39);
    background: rgb(39, 39, 39);
  }
  b-container{
    margin-top: 50px;
  }
  img{
    object-fit: cover;
  }
  a{
    text-decoration: none;
  }
  border: 1px solid rgb(93, 93, 93);
  border-radius: 13px;
  margin-bottom: 20px;
  overflow: hidden;
  background: rgb(93, 93, 93);
  color: #fff;
  h3{
    font-size: 1.5em;
    color: rgb(161, 161, 161);
    padding-top: 10px;
  }
  h3, p{
    padding-left: 15px;
  }
  p{
    color: #fff;
  }
}